body {
  font-family: monospace;
  background-color: aquamarine;
}

.img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  background-color: beige;
  border-radius: 10px;
}

.logoContainer {
  display: flex;
  justify-content: space-between;
}

.logoContainer:hover {
  font-family: Arial, Helvetica, sans-serif;
}


.searchBarContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  border: 2px black solid;
  padding: 10px;
  border-radius: 10px;
  max-width: 390px;
  background-color: beige;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}

input {
  margin: 0px;
}

.postsContainer {
  display: flex;
  flex-direction: column;
  margin: 0px 5px;
  max-width: 800px;
  min-width: 200px;
  flex-shrink: 6;
}

.postContainer {
  display: flex;
  flex-direction: column;
  margin: 10px 5px 10px 10px;
  padding: 10px;
  border: 2px black solid;
  border-radius: 10px;
  background-color: beige;
}

.postContainer:hover {
  background-color: bisque;
}

.filtersContainer {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
  max-height: 250px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  position: sticky; 
  top: 50px;
  background-color: beige;
}



.postContainer p {
  flex-shrink: 4;
  font-family: monospace;
  flex-wrap: wrap;
  flex-shrink: 4;
  word-wrap: break-word;
}

.postContainer img {
  border-radius: 10px;
}

.filterContainer {
  text-align: center;
  display: flex;
  padding: 10px;
}

p {
  text-align: right;
}

h1 {
  padding: 0px 10px;
  font-size: 24px;
}


.postAndFilterContainer {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.searchAndFilterContainer {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}



