.img {
  height: 50px;
  width: 50px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.logoContainer {
  display: flex;
}

.postsContainer {
  display: flex;
  flex-direction: column;
  margin: 0px 50px;
}

.postContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border: 2px black solid;
  border-radius: 10px;
}

p {
  text-align: right;
}

h1 {
  padding: 0px 10px;
  font-size: 24px;
}


